body {
    background-color: #000;
}

.tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #222;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.tab {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    font-size: 10px;
}

.tab.active {
    background-color: #333;
    border-radius: 8px;
    transition: background-color 0.5s;
    transition: border-radius 0.1s;
}

.tab-content {
    padding-bottom: 60px; /* Высота нижних вкладок */
    height: 100vh;
    overflow-y: auto;
}